

.warning {
	margin-bottom: 0;
	line-height: 130%;
	font-size: 15px;
	color: tomato;
	text-align: left
}


.wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}




.wrapper > .content {
	position: relative;
	padding: 3.5%;
	border: 1px solid #e2e2e2;
	border-radius: 6px;
	width: 400px;
	margin: 2%;
}


.ticketNumber {
	position: absolute;
	top: 0;
	left: 0%; 
	border-radius: 6px;
	width: 6%;
	line-height: 6%;
	padding: 1%;
	font-weight: bold;
	background: #8a8a8a;
	color: white;
	text-align: center;
	font: 20px Arial, sans-serif;
}


@media only screen and (max-width: 1045px) {
	.wrapper > .content {
		display: inline-block;
	}

	.wrapper {
		text-align: center;
		display: inline;
	}

  }

@media only screen and (max-width: 400px) {
	.wrapper > .content  {
	  width: 90vw;
	  padding: 2%;
	}

	.ticketNumber {
		left:93%;
	}

  }




