#input-button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    background-color: #e84c3d;
    margin: 5px;
    margin-top: 10px;
}

.ticket-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}


.ticket-detail{
    text-transform: uppercase;
    font-weight: normal;
    padding: 10px 0 10px 10px
    
}



.ticket-detail span {
    font-size: 0.7em;
    color: #a2aeae;
}

.ticket-detail h2 {
    font-size: 0.9em;
    color: #525252;
    margin: 0;
    text-transform: none;
}

.ticket-detail select{
    color:#525252;
    font-size: 0.9em;
    background-color: inherit;
    font-weight: bold;
    height: 30px;
    padding: 0;
    margin: 0;
    border-color: #a2aeae;
    max-width: 90%;
}

.ticket-detail input {
    color:#525252;
    font-size: 0.9em;
    background-color: inherit;
    font-weight: bold;
    border: 1px solid #a2aeae;
    border-radius: 5px;
    height: 30px;
}



.ticket-detail input[type=text], .ticket-detail input::placeholder{
    color: #525252;
    padding-left: 1.5%;
}


.ticket-price-fine{
    display: flex;
    justify-content: space-between;
}
.ticket-detail-fine-hold, .ticket-detail-fine-no-hold{
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

.ticket-detail-fine-hold h2, .ticket-detail-fine-no-hold h2{
    margin: auto
}

 /* makes up and down arrows in input box always visible */
.event-number input[type=number]::-webkit-inner-spin-button {
    opacity: 0;
    -webkit-appearance: none
}

 
