@-webkit-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  


  
  .home-event-text-container{
    width: clamp(300px, 60vw, 400px);
    max-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
   
  }

  .home-details-container {
    background-color: #ffff;
    width: fit-content;
    max-width: 95vw;
    border-radius: 5px;
    color: #293d6a;
    transition: transform 0.3s;
    border: 1px solid #8f897c;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    background-color: #ffff;
    margin: 0 auto;
    margin-bottom: 20px;

  }


  
  .home-text-container p {
    color: #293d6a94;
  }
  
  .home-details-container img {
    width: 100%;
    max-height: 100%;
    background-color: #ffff;
    border-radius: 5px;
    object-fit: cover;
  }

  .event-card-image-wrapper{
    width: clamp(300px, 60vw, 700px);
    height: clamp(150px, 30vw, 200px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-details-container a {
    background-color: #ffff;
  }
  
  .home-event-date-and-location{
    background-color: #ffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    font-size: clamp(12px, 1.5vw, 15px);
    font-weight: 600;
    color: #d8420b;
  }
  
   .home-details-container header {
    /* font-size: 130%; */
    font-size: clamp(15px, 3vw, 25px);
    margin: 11px 0px;
    color: #293d6a;
    text-align: center;
    margin: auto;
    overflow: hidden;
    max-height: 70px;
  }
  
  
  .home-details-container:hover {
    border: 1px solid #293d6a;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
      0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }



  .events-content-wrapper{
    margin-top: 50px;
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
  }
  
  
  
  @-webkit-keyframes home-slide-in-from-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes home-slide-in-from-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .home-slide-from-left {
    -webkit-animation: 1s ease-in 0s 1 home-slide-in-from-left;
    animation: 1s ease-in 0s 1 home-slide-in-from-left;
  }
  
  /* End copied code */
  
  /* Below is similar code to the stackoverflow answer but I amended the code to make the slide happen from the opposite side. I than gave the elements a class name based on where I wanted them to slide from */
  
  @-webkit-keyframes home-slide-in-from-right {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes home-slide-in-from-right {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .home-slide-from-right {
    -webkit-animation: 1s ease-in 0s 1 home-slide-in-from-right;
    animation: 1s ease-in 0s 1 home-slide-in-from-right;
  }
  

  
  @media only screen and (min-width: 850px) {
  
    .home-details-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 2px;
      margin: auto;
      height: 100%;
      width: clamp(1px, 90vw, 1000px);
      margin-bottom: 50px;
    }
    
    .home-details-container header {

      font-size: clamp(20px, 3vw, 30px);
      text-align: center;
      margin: auto;
      overflow: hidden;
      max-height: none;
    }


    .home-event-text-container {
      margin-left:3%;
      max-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
    }
  
  
    .home-event-date-and-location{
      margin-left: 0;
    }
  
  }