/* Post MS1 Code Starts*/

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Nunito:wght@410&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Nunito, sans-serif;
}

html, body  {
	background-color: #ececec;
}

body {
	position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
	overflow-x: hidden !important
	;
}

  .content-wrapper {
	padding-top: 3.5rem;
	padding-bottom: 2.5rem;
  }


ul {
	list-style-type: none;
  }

.fontawesome-icon{
	color: #293d6a94
}

hr {

	border: 0;
	height: 2px;
	width: 75%;
	background-image: linear-gradient(
	  to right,
	  rgba(41, 61, 106, 0.1),
	  rgba(41, 61, 106, 0.75),
	  rgb(41, 61, 106, 0.1)
	);
	margin: 20px 0px;
  }

.colorRed{
	color: #e84c3d;
}


@media only screen and (min-width: 700px) {
	.content{
		margin-top: 75px;
	}
}



/* Post MS1 Code Ends*/






p {
	color: #4f4f4f;
}

p + h3 {
	margin-top: 40px;
}

a {
	color: #293d6a;
	cursor: pointer;
	text-decoration: none;
}

/* hr {
	border: none;
	border-bottom: 1px solid #e2e2e2;
	height: 1px;
	margin: 40px 0;
} */

/* h1 {
	margin-top: 0;
	margin-bottom: 10px;
} */

.upper {
	text-transform: uppercase;
}



.currencyInput{
	position: relative;
    background-color: #dedede;
    display: inline;
}

.currencyInput:before {
    content: '€';
    position: absolute;
    top: 0;
    left: 1%;
    z-index: 1;
}



textarea {
	resize: none;
}

button:focus,
select:focus,
input:focus,
textarea:focus {
	outline: none;
}





h3 small {
	font-size: 15px;
	margin-left: 10px;
	color: #969696;
}

h2 {
	margin-top: 0;
}

/* a:hover {
    text-decoration: underline;
} */

#description {
	white-space: pre-line;
	line-height: 0.9;
	border-radius: 6px;
	display: inline-block;
	padding: 1.5% 3%;
}

#eventImage{

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border: 1px solid red
}

#eventImage img {
	max-height: 40vh;
	max-width: 100vw;
}

#buyTicketButton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	margin: 3%;
}

.wrapperToCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sellTickets{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1%;
}



/* .eventDetails div {
	margin-left: 2%
} */

/* .eventDetails .address {
	margin-left: 0%
} */

.centerText {
	text-align: center;
}

#eventDetailElements{
	/* display: flex;
	flex-wrap: wrap; */
	align-items: left;
	justify-content: left;
	line-height: 150%;
	/* width: auto; */
	margin: 3%;
	padding: 1%;
	border: 1px solid #e2e2e2;
	border-radius: 6px;
}

.eventDetail{
	margin: 0.5%;
}



.cardWrap {
	width: 27em;
	margin: 3em auto;
	color: #fff;
	font-family: sans-serif;
  }

  .buyTicket {
	background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef 100%);
	height: 11em;
	float: left;
	position: relative;
	padding: 1em;
	margin-top: 100px;
  }

  .cardLeft {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	width: 16em;
	display: grid;
	grid-template-rows: 1fr 1fr;

  }

  .cardRight {
	width: 6.5em;
	border-left: .18em dashed #fff;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

/* .cardRight:before, .cardRight:after {
	content: "";
	position: absolute;
	display: block;
	width: .9em;
	height: .9em;
	background: #fff;
	border-radius: 50%;
	left: -.5em;
}

.cardRight:before {
	top: -.4em;
}

.cardRight:after {
	bottom: -.4em;
} */

.cardWrap h1 {
	font-size: 1.1em;
	margin-top: 0;
}

.cardWrap h1 span {
	font-weight: normal;
}

.title, .name, .seat, .time {
	text-transform: uppercase;
	font-weight: normal;
}

.title h2, .name h2, .seat h2, .time h2 {
	font-size: .9em;
	color: #525252;
	margin: 0;
}

.title span, .name span, .seat span, .time span {
	font-size: .7em;
	color: #a2aeae;
}

.title {
	margin: 2em 0 0 0;
  }
  
  .name, .seat {
	margin: .7em 0 0 0;
  }
  
  .time {
	margin: .7em 0 0 1em;
  }
  
  .seat, .time {
	float: left;
  }

  .eye {
	position: relative;
	width: 2em;
	height: 1.5em;
	background: #fff;
	margin: 0 auto;
	border-radius: 1em/0.6em;
	z-index: 1;
}

.eye:before, .eye:after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 50%;
}

.eye:before {
	width: 1em;
	height: 1em;
	background: #e84c3d;
	z-index: 2;
	left: 8px;
	top: 4px;
}

.eye:after {
	width: .5em;
	height: .5em;
	background: #fff;
	z-index: 3;
	left: 12px;
	top: 8px;
}

.number {
	text-align: center;
	text-transform: uppercase;
}

.number input {
	color: #e84c3d;
	margin: .9em 0 0 0;
	font-size: 2.5em;
	background-color:#ecedef;
	max-width: 100%;
}

.number span {
	display: block;
	color: #a2aeae;
}

.center-text {
	text-align: center
}

 



  .barcode {
	height: 2em;
	width: 0;
	margin: 1.2em 0 0 .8em;
	box-shadow: 1px 0 0 1px #343434,
	5px 0 0 1px #343434,
	10px 0 0 1px #343434,
	11px 0 0 1px #343434,
	15px 0 0 1px #343434,
	18px 0 0 1px #343434,
	22px 0 0 1px #343434,
	23px 0 0 1px #343434,
	26px 0 0 1px #343434,
	30px 0 0 1px #343434,
	35px 0 0 1px #343434,
	37px 0 0 1px #343434,
	41px 0 0 1px #343434,
	44px 0 0 1px #343434,
	47px 0 0 1px #343434,
	51px 0 0 1px #343434,
	56px 0 0 1px #343434,
	59px 0 0 1px #343434,
	64px 0 0 1px #343434,
	68px 0 0 1px #343434,
	72px 0 0 1px #343434,
	74px 0 0 1px #343434,
	77px 0 0 1px #343434,
	81px 0 0 1px #343434;
  }