nav {
  background-color: #f7f7f7;
  color: #293d6a;
  font-size: clamp(10px, 3vw, 16px);
  border-bottom: 1px solid #293d6a;
  width: 100vw;
  padding: 10px;
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

#loggedIn, #loggedOut{
  width: 100%;
  max-width: 700px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #f7f7f7;
}

nav li {
  background-color: #f7f7f7;
  /* margin-right: 5vw; */
}

nav a,
nav a:visited {
  background-color: #f7f7f7;
  color: #293d6a;
  cursor: pointer;
}


.nav-link-wrapper {
  border: 1px solid transparent;
}


.nav-account:hover{
  width: clamp(80px, 21vw, 108px);
}


.nav-spacing{
  width: clamp(80px, 21vw, 108px);
  margin: auto;
  display: flex;
  justify-content: center;

}


.nav-account:hover ul.nav-dropdown{
  display: block;	
  border: 1px solid #293d6a;
  opacity: 1;
  border-top: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  animation: slide-down .5s ease-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center ;
  width: 100%;
}


.nav-dropdown > .nav-sub-link {
  margin-left: 0;
}

.nav-link-wrapper .nav-btn{
  background-color: #f7f7f7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  border-radius: 2px;
  border: 1px solid #293d6a;
  text-align:center;
  padding: clamp(0.5px, 0.75vw, 3.5px)

}



.nav-account{
  text-align:center;
  padding: clamp(0.5px, 0.75vw, 3.5px)
}

.nav-dropdown > .nav-link-wrapper, .nav-dropdown > .nav-btn{
  padding: 0 !important;
  text-align:center
}





.nav-link-wrapper .nav-btn::before{
 
  position: absolute;
  background-color: #f7f7f7;
  z-index: -1;
  transition: .5s;
  content: "";
  align-self: center;
  justify-self: center;
  height: 110%;
  width: 105%;
}

.nav-link-wrapper .nav-btn::after {
  position: absolute;
  background-color: #f7f7f7;
  z-index: -1;
  transition: .5s;
  content: "";
  height: 110%;
  width: 105%;
}



.nav-link-wrapper:hover .nav-btn::before{
  width: 0px;
}



.nav-link-wrapper:hover .nav-btn::after {
  height: 0px;
}



.nav-current-page {
  border: 1px solid #293d6a;
}



.nav-current-page::before {
  height: 0%;
  width: 0%;
}

.nav-current-page::after {
  height: 0%;
  width: 0%;
}

nav ul li{
  display: inline-block;
  position: relative;
}

.nav-sub-link{
  margin-top: 5%;
  margin-right: 0;
}

nav ul li ul.nav-dropdown{
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  animation: slide-up .5s ease-out;
  z-index: -1;
  padding-bottom: 5%;
}










.nav-account:hover {

  border: 1px solid #293d6a;
  border-radius: 1px;
}

@keyframes slide-down {
  0% { opacity: 0; transform: translateY(-100%); }   
100% { opacity: 1; transform: translateY(0); }
}

@keyframes slide-up {
  0% { opacity: 1; transform: translateY(0); }   
100% { opacity: 0; transform: translateY(-100%);  }
}
