nav {
  background-color: #f7f7f7;
  color: #293d6a;
  font-size: clamp(10px, 3vw, 16px);
  border-bottom: 1px solid #293d6a;
  width: 100vw;
  padding: 10px;
  /* position: fixed; */
  z-index: 2;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  background-color: #f7f7f7;
}

nav li {
  background-color: #f7f7f7;
  margin-right: 5vw;
}

nav a,
nav a:visited {
  background-color: #f7f7f7;
  color: #293d6a;
  cursor: pointer;
}

.nav-btn {
  background-color: #f7f7f7;
  padding: clamp(0.5px, 0.75vw, 3.5px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  border-radius: 2px;
  border: 1px solid #293d6a;
}

.nav-btn::before,
.nav-btn::after {
  position: absolute;
  background-color: #f7f7f7;
  z-index: -1;
  transition: 1s;
  content: "";
}

.nav-btn::before {
  height: 115%;
  width: 115%;
  /* border: 1px solid red; */
}

.nav-btn::after {
  height: 115%;
  width: 115%;
}

.nav-btn:hover::before{
  width: 0px;
  background: #f7f7f7;
}

.nav-btn:hover::after {
  height: 0px;
  background: #f7f7f7;
}

.nav-btn:hover {
  background: #f7f7f7;
}
