
body { margin: 0 }


#ticketPageGrid {
    display: grid;
    grid-template-rows: 4.3% 6fr 1fr;
    width: 100%;
    height: 100vh;
    background-color: yellow;
}

.navBar {
    background-color: green;
}

#tickets{
    background-color: black
}

#buttons {
    background-color:red
}

.ticket {
    background-color: white;
    width: 400px;
    height: 1000px;
    display: inline-block;
    margin: 10px;
}